nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li  a {
   text-decoration: none;
   color: #6176EB;
   padding: 20px 20px; 
   font-weight: bold;
   font-family: sans-serif;
}

img {
    align-items: center;
}
