* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Champagne';
    src: url(../fonts/champagne.ttf);
}

/* Navigation Styling */

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fecd71;
    display: inline-block;
}

.logo {
    padding: 10px;
}

h1 {
    font-family: 'Champagne', sans-serif;
    font-size: 50px;
    color: #707070;
}

nav {
    text-align: right;
    position: relative;
    margin: 0 auto; 
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li  a {
   text-decoration: none;
   color: #6176EB;
   padding: 20px 20px; 
   font-weight: bold;
   font-family: 'Barlow', sans-serif;
   font-size: 20px;
}

nav ul li a:hover {
    color: #8F9EF0;
}

/* Slideshow Container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.image-container {
    display: none;
}

/* forward and back buttons */

.back, 
.forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.back:hover, 
.forward:hover {
    background-color: rgba(0,0,0,0.8);
}

/* the circles/indicators */

.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable, 
.dots:hover {
    background-color: #717161;
}

/* Faint Animation */

.fade {
    animation: fade 1.4s;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}
/* About Page Styling */

.image-left {
    float: left;
    margin: 0 30px 20px 0;
}

.image-right {
    float: right;
    margin: 0 0 20px 30px; 
}

.about-content {
    text-align: center;
}

/* Universal Styling */
body {
    background-color: #fecd71;
    width: 100%;
    margin: 0 auto;
}

.container {
    position: relative;
    top: 200px;
    max-width: 80%;
    margin: 0 auto;
}

h2{
    font-family: 'Champagne', sans-serif;
    font-size: 50px;
    color: #707070;
    text-align: center;
    padding: 20px;

}

h3 {
    font-family: 'Champagne', sans-serif;
    font-size: 35px;
    color: #707070;
    text-align: center;
    padding: 20px;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #707070;
}

details, 
summary {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #707070;
}

/* Gallery Styling */
.gallery {
    overflow: auto;
    width: auto;
    display: inline-block;
    padding: 10px;
}

.text {
    text-align:center;
    margin: 10px;
}

/* Contact Form Styling */

.contact-form {
    background: #C894DD;
    padding: 20px;
    border: solid #707070;
    border-radius: 4px;
    color: black;
    font-family: 'Barlow', sans-serif;
    margin: 0 auto;
    max-width: 75%;
}

.label_input_wrap {
    display: block;
}

.reset input, 
.submit input {
    background: #8F9EF0;
    color: white;
    padding: 5px 20px;
}

.reset input:hover,
.submit input:hover {
    background: white;
    color: #8F9EF0;
}

.reset, 
.submit {
    display: inline; 
}

.input-section {
    margin-bottom: 10px;  
}

input {
    padding: 5px 10px;
    border-radius: 3px;
}

textarea {
    font-family: 'Barlow', sans-serif;
    padding: 10px 10px;
    border-radius: 4px;
    width: 100%;
}

select {
    width: 162px;
    padding: 8px 0;
    border-radius: 4px;
}
